/* Import Fonts */
@import url("https://fonts.googleapis.com/css?family=Ubuntu+Mono");
@import url("https://fonts.googleapis.com/css?family=Crimson+Pro");

/* Root Vars */
:root {
    --bg0:      #f0f0f0;
    --bg1:      #e7e7e7;
    --bg2:      #d9d9d9;
    --fg1:      #575757;
    --fg2:      #363636;
    --title1:   #e7e7e7;
    --title2:   #c19eb0;
    --link1:    #538083;
    --link2:    #63979b;
    --code:     #d2d2d2;
    --quote:    #ceb2b2;
}


/* Main Things */
html {
    overflow-y: scroll;
    -webkit-font-smoothing: antialiased;
    background-color: var(--bg0);
    font-size: 16px;
    scroll-behavior: smooth;
}

body {
    max-width: 600px;
    width: 100vw;
    text-align: justify;
    margin: 0 auto;
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 8vw;
    padding-right: 8vw;
    font-family: "Crimson Pro", serif;
    font-size: 1em;
    line-height: 1.8em;
    background-color: var(--bg0);
    color: var(--fg1);
}

@media only screen and (max-device-width: 480px)  {
    html {
        font-size: 12px;
    }
    body {
        max-width: 300px;
    }
    nav {
        display: none;
    }
}

/* Headers */
header {
    color: var(--title1);
    font-size: 20px;
}

h1 {
    font-family: "Crimson Pro", serif;
    font-size: 1.6rem;
    color: var(--fg1);
    line-height: 1.2;
    text-rendering: optimizeLegibility;
}

h2 {
    font-family: "Crimson Pro", serif;
    font-size: 1.6rem;
    color: var(--fg1);
    line-height: 1.2;
    text-rendering: optimizeLegibility;
}

h3 {
    font-family: "Crimson Pro", serif;
    font-size: 1.4rem;
    color: var(--fg1);
    line-height: 1.2;
    text-rendering: optimizeLegibility;
}

h4 {
    font-family: "Crimson Pro", serif;
    font-size: 1.2rem;
    color: var(--fg1);
    line-height: 1.2;
    text-rendering: optimizeLegibility;
}

h1:before {
    color: var(--title2);
    margin-left: -47px;
}

h2:before {
    color: var(--bg2);
    margin-left: -47px;
}

h3:before {
    color: var(--bg2);
    margin-left: -55px;
}

h4:before {
    color: var(--bg2);
    margin-left: -61px;
}

/* Post Title */
.postitle {
    color: var(--fg1);
    text-decoration: none;
}

.postitle:hover {
    color: var(--title2);
    text-decoration: none;
}

h1:hover:before {
    color: var(--title2);
}

/* Website Title */
.title {
    margin-left: -25px;
    width: 100%;
    text-decoration: none;
    display: block;
    font-family: "Crimson Pro", serif;
    font-size: 3em;
    color: var(--fg1);
}

.title:hover {
    color: #898989;
}

.subtitle {
    margin-left: -24px;
    color: #898989;
    margin-bottom: -30px;
    font-family: "Crimson Pro", serif;
    font-size: 1.2em;
}

.subtitle:before {
    content: "— ";
}

/* Nav bar */
nav {
    display: block;
    text-align: left;
    padding-top: 20px;
    padding-bottom: 5px;
    font-family: "Crimson Pro", serif;
    font-stretch: expanded;
    font-size: 1.2em;
}

/* Links */
a {
    color: var(--link1);
}

a:hover,
a:focus {
    color: var(--link2);
    text-decoration: none;
}

/* Code */
code {
    font-family: "Ubuntu Mono", monospace;
}

p > code {
    padding-left: 0.4em;
    padding-right: 0.4em;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
    margin-right: 0.1em;
    margin-left: 0.1em;
    margin-top: -0.1em;
    font-size: 0.9em;
    color: var(--fg1);
    background-color: var(--code);
}

pre {
    box-sizing: border-box;
    white-space: pre;
    width: 100%;
    overflow: auto;
    overflow-y: hidden;
    font-size: 14px;
    line-height: 1.5;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 5px solid var(--bg1);
    overflow-x: auto;
    -webkit-box-shadow: inset 0px 0px 25px -1px rgba(240,240,240,1);
    -moz-box-shadow: inset 0px 0px 25px -1px rgba(240,240,240,1);
    box-shadow: inset 0px 0px 25px -1px rgba(240,240,240,1);
}

/* Articles */
article {
    padding: 24px 0;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

/* Images */
.image, figure img, img {
    width: 100%;
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom: 20px;
    -webkit-box-shadow: 5px 10px 40px -20px rgba(0,0,0,0.60);
    -moz-box-shadow: 5px 10px 40px -20px rgba(0,0,0,0.60);
    box-shadow: 5px 10px 40px -20px rgba(0,0,0,0.60);
}

/* Quotes */
blockquote {
    width: 100%;
    margin-left: 0px;
    margin-top: 25px;
    margin-bottom: 25px;
    padding: 0.2em 2em;
    position: relative;
    color: var(--fg1);
    border-left: 6px solid var(--quote);
}

/* Table */
table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    color: var(--fg1);
    background-color: var(--bg0);
}

table th {
    background-color: var(--fg1);
    color: var(--bg2);
}

table th, table td {
    padding: 5px 10px;
    border-bottom: 2px solid var(--fg1);
    border-right: 4px solid var(--bg0);
}

table thead {
    background-color: transparent;
}

/* Scrollbar */
::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-thumb {
    background: #bfbfbf;
}

::-webkit-scrollbar-thumb:hover {
    background: #b5b5b5;
}

/* mathjax support */
code.has-jax {
    -webkit-font-smoothing: antialiased;
    background: inherit !important;
    border: none !important;
    font-size: 100%;
}

/* hr */
hr {
    width: 100%;
    border: 1px solid var(--title2);
}

